*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.jcs{
    justify-content: space-between;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.navbar{
    /* align-items: center; */
    /* justify-content: space-between; */
}
.ali{
    align-items: center;
}
.col-50{
    width: 100%;
    /* border: solid 2px; */
}
.col-30{
    width: 100%;
    /* border: solid 2px; */
}
.col-40{
    width: 100%;
}
.col-20{
    width: 100%;
}
header{
    padding: 50px 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9999999999999999) 85%, rgba(0,0,0,0.9999999999999999) 100%);
}
.page-1{
    background-image: url(./Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\)\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text ul li{
    display: inline-block;
    color: white;
    margin: 0 50px 0 70px;
    font-size: 20px;
    
}
.text ul li a{
    color: white;
    text-decoration: none;
}

.text-1{
    padding: 30px 0;
    color: white;
}
.text-1 h2{
    font-size: 91px;
}
.text-1 p{
    font-size: 30px;
    padding: 30px 0;
}
.text-1 button{
    width: 30%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #f64b3c;
    color: white;
    font-size: 20px;
    margin-bottom: 100px;
}
/* section2 */

.page-2{
    padding: 80px 0;
    text-align: center;
    background-color: #f6eedf;
}
.page-2-text h2{
    font-size: 64px;
    color: #f64b3c;
}
.page-2-text p{
    font-size: 25px;
    color: #f64b3c;
    margin: 0 auto;
    padding: 20px 0;
    width: 55%;
}
.page-2-img img{
    border-radius: 50%;
}
.page-2-img h2{
    padding: 20px 0;
    color: #f64b3c;
}
.page-2-img p{
    color: #f64b3c;
}

/* section3 */

.page-3{
    padding: 100px 0;
    background-color: #f64b3c;
    color: #ffffff;
}
.page-3-img img{
    border-radius: 50%;
    width: 80%;
}
.page-3-img h2{
    font-size: 75px;
    
}
.page-3-img p{
    font-size: 29px;
    padding: 50px 0;
}
.page-3-img button{
    width: 40%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    color: #f64b3c;
    font-size: 20px;
}
/* section4 */

.page-4{
    padding: 100px 0;
    background-color: #f6eedf;
}
.page-4-text h2{
    font-size: 75px;
}
.page-4-text p{
    font-size: 29px;
    padding: 50px 0;
}
.page-4-text button{
    width: 40%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #f64b3c;
    color: white;
    font-size: 20
}
.page-4-text img{
    border-radius: 50%;
    width: 100%;
}

/* section5 */

.page-5{
    text-align: center;
    padding: 100px 0;
    background-color: #f64b3c;
    color: #ffffff;
}
.page-5-text h2{
    font-size: 62px;
}
.page-5-text p{
    font-size: 25px;
    margin: 0 auto;
    width: 55%;
    padding: 30px 0 60px 0;
}
.page-5-k h2{
    font-size: 102px;
}
.h-1{
    display: inline-block;
    border: solid 1px;
    border-radius: 50%;
    padding: 100px;
}
.page-5-k h3{
    font-size: 33px;
}

/* section6 */
.page-6{
    padding: 50px 0 100px 0;
    text-align: center;
    background-color: #f6eedf;
}
.page-6-text h2{
    font-size: 75px;
    color: #f64b3c;
    padding-bottom: 100px;
}
.page-6-u h2{
    padding: 20px 0;
    color: #f64b3c;
}
.page-6-u h3{
    padding: 20px 0;
    color: #f64b3c;
}
.page-6-u p{
    font-size: 20px;
    color: #f64b3c;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0 20px 0;
}
.page-6-u button{
    width: 50%;
    padding: 10px;
    background-color: #f64b3c;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    border-radius: 50px;
    border: none;
}
.u{
    border: solid 2px white;
    background-color: #ffffff;
}

/* section7 */

.page-7{
    padding: 50px 0 100px 0;
    background-image: url(./Group\ 6.png);
    text-align: center;
} 
.page-7-text{
    padding: 100px 0 0 0;
}
.page-7-text p{
    font-size: 36px;
    margin: 0 auto;
    width: 60%;
    color: white;
    padding: 100px 0 0 0;
}
.page-7-text h2{
    font-size: 45px;
    padding: 70px 0 100px 0;
    color: white;
}

/* section8 */

.page-8{
    padding: 100px 0;
    text-align: center;
}
.page-8-text h2{
    font-size: 75px;
    color: #f64b3c;
    padding: 50px 0 0 0;
}
.page-8-text p{
    font-size: 30px;
    margin: 0 auto;
    color: #f64b3c;
    width: 60%;
    padding: 20px 0 70px 0;
}
.input input{
    padding: 10px;
    width: 50%;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    color: black;
    border: solid 1px black;
}
.input button{
    width: 10%;
    padding: 10px;
    background-color: #f64b3c;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    margin: 0 -100px;
    border: none;
}
.input{
    position: relative;
    right: 50px;
    padding: 0 0 100px 0;
}

/* section9 */

.page-9{
    padding: 100px 0;
    background-color: #222222;
    color: white;
}
.page-9-text h2{
    font-size: 35px;
}
.page-9-text p{
    font-size: 24px;
    width: 80%;
    padding: 40px 0;
}
.page-9-text ul li{
    list-style: none;
    font-size: 24px;
    padding: 10px 0;
}
.icon{
    font-size: 40px;
}































    @media (min-width:576px) {
        .col-50{width: 100%; margin-top: 30px;}
        .container{width: 520px;}
        .col-30{width: 100%;margin: 10px 0;}
        .h-1{
            margin: 10px 0;
        }
        .input button{
            width: 25%;
        }
        .col-20{width: 100%;margin: 50px 0;}
        .col-40{width: 100%;}

        
        
    }



    @media (min-width:768px) {
        .col-50{width: 50%;}
        .container{width: 720px;}
        .col-30{
            width: 40%;
            margin: 10px auto;
        }
        .input button{
            width: 20%;
        }
        .col-20{width: 30%;margin: 50px 0;}
        .col-40{width: 100%;}
    }


    @media (min-width:992px) {
        .col-50{width: 50%;}
        .container{width: 950px;}
        .col-30{width: 30%;}
        .h-1{padding: 70px;}
        .col-20{width: 20%;}
        .col-40{width: 40%;}
        
    }


    @media (min-width:1200px) {
        .col-50{width: 50%;}
        .container{width: 1150px;}
        .col-30{width: 30%;}
        .col-20{width: 20%;}
        .col-40{width: 40%;}
        
    }